:root {
  --space-xxs: .25rem;
  --space-xs:  .5rem;
  --space-sm:  1rem;
  --space-md:  1.5rem;
  --space-lg:  2rem;
  --space-xl:  3rem;
  --space-xxl: 6rem;
}

html {
  height: 100%;
  width: 100%;
}

body {
  min-height: 100%;
  min-width: 100%;

  box-sizing: border-box;
  margin: 0;
  padding: 0;

  color: #000;
  font-family: system-ui, sans-serif;
}

h1, h2, h3 { 
  margin: 0; 
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
}

body > header {
  display: grid;

  width: 100%;
  z-index: 4;

  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, .12);
}
body > header > div {
  padding: var(--space-sm);
}
body > header h1 {
  font-size: var(--space-lg);
  padding: 0 0 0 var(--space-xxl);
  margin: 0;
}
@media (max-width: 640px) {
  body > header h1 {
    font-size: var(--space-md);
    padding: 0;
  }
}

body > header > .black-line {
  background-color: #373631;
  height: 8px;
}
body > header > .black-line > img {
  --logo-width: 80px;
  width: var(--logo-width);
}
@media (max-width: 640px) {
  body > header > .black-line > img {
    --logo-width: 48px;
  }
}


main {
  max-width: 80vw;
  display: grid;
  place-content: center;
  padding: var(--space-xl) var(--space-sm);
  margin: 0 auto;
}

main > p {
  display: flex;
  align-items: center;
  margin: var(--space-xs) 0;
}

section {
  --repeat: auto-fit;

  display: grid;
  gap: var(--space-xl) var(--space-xxl);
  grid-template-columns: repeat(var(--repeat), 1fr);
  align-items: flex-start;
  margin-bottom: var(--space-xxl);
}
@media (min-width: 640px) {
  section {
    --repeat: 3;
  }
}

article {
  display: grid;
  gap: var(--space-md);
}

.tutorial > article {
  gap: 0;
  line-height: 1.4;
}
.tutorial > article > div:first-of-type {
  display: grid;
  place-items: center;

  font-weight: bold;
  background-color: #f0d722;
  border: 4px solid #fff;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin: 0 auto;
}
.tutorial > article > div:last-of-type {
  background-color: #e0e0e0;
  border-radius: var(--space-sm);
  margin-top: -1rem;
  padding: var(--space-lg);
  z-index: -1;
}

.hint {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  font-weight: bold;
  background: #f0d722;
  margin-right: var(--space-xs);
}

header {
  display: grid;
  gap: var(--space-xxs);
}

nav {
  background: #ccc;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 1px;
  border-radius: var(--space-sm);
  overflow: hidden;
  box-shadow: 0 0 8px 2px rgb(0 0 0 / 20%);
}

nav > a {
  display: grid;
  gap: var(--space-xxs);
  grid-template-columns: 1fr auto;
  align-items: center;

  background: #fff;
  transition: background .2s ease;

  padding: var(--space-sm) var(--space-md);
}
nav > a:hover {
  background: #f0d722;
}

nav > a > div:last-of-type {
  display: flex;
}

footer {
  --repeat: auto-fit;

  display: grid;
  grid-template-columns: repeat(var(--repeat), 1fr);
  padding: var(--space-sm);
  color: rgb(255 255 255 / 54%);
  background-color: #373631;
}
@media (min-width: 640px) {
  footer {
    --repeat: 2;
  }

  footer > div:last-of-type {
    text-align: right;
  }
}

footer > div:last-of-type > a + a {
  margin-left: var(--space-sm);
}



#dialog-container {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, .32);
  opacity: 0;

  pointer-events: none;
  transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1);
  will-change: opacity;
}
#dialog-container.is-open {
  opacity: 1;
  pointer-events: auto;
}

.dialog-scroll-lock {
  overflow: hidden;
}

.dialog {
  display: flex;
  flex-direction: column;

  background: #fff;
  border-radius: 4px;
  box-shadow:
    0 11px 15px -7px rgb(0 0 0 / 20%),
    0 24px 38px 3px rgb(0 0 0 / 14%),
    0 9px 46px 8px rgb(0 0 0 / 12%);

  width: 800px;
  max-width: calc(100% - 32px);
  max-height: calc(100% - 32px);
}

.dialog-title {
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 24px 24px 8px;
}

.dialog-body {
  --repeat: auto-fit;

  display: grid;
  gap: var(--space-md);
  grid-template-columns: repeat(var(--repeat), 1fr);
  align-items: flex-start;

  font-size: 1rem;
  line-height: 1.5rem;
  
  margin: 0;
  padding: 8px 24px;
  overflow: auto;
}
@media (min-width: 640px) {
  .dialog-body {
    --repeat: 2;
  }
}

.dialog-body > div > a {
  display: flex;
  justify-content: center;

  background-color: rgb(0 0 0 / 12%);
  border-radius: var(--space-sm);
  padding: var(--space-sm);
}
.dialog-body > div > a:hover {
  background-color: rgb(0 0 0 / 20%);
}

.dialog-buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;

  padding: 24px;
}

.button {
  background: transparent;
  border: none;
  border-radius: var(--space-sm);
  color: #000;
  position: relative;
  margin: 0;
  min-width: 64px;
  padding: 12px 16px;
  display: inline-block;
  text-transform:uppercase;

  border: 1px solid transparent;
  overflow: hidden;
  transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
              color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
}
.button + .button {
  margin-left: 8px;
}

.button:hover {
  background-color: rgb(0 0 0 / 12%);
}

.button:focus:not(:active) {
  background-color: rgb(0 0 0 / 12%);
}

.button:active {
  background-color: rgb(0 0 0 / 40%);
}

.button.button-colored:not([disabled]):hover {
  background-color: #f0d722;
}

.button[disabled] {
  color: rgb(0 0 0 / 26%);
  cursor: default;
  background-color: transparent;
}

.button.is-loading {
  position: relative;
  color: transparent !important;
  pointer-events: none;
}
.button.is-loading::after {
  position: absolute;
  left: calc(50% - (1rem / 2));
  top: calc(50% - (1rem / 2));
  
  display: block;
  content: "";
  height: 1rem;
  width: 1rem;

  border-radius: 50%;
  border: 2px solid #000;
  border-right-color: transparent;
  border-top-color: transparent;
  
  animation: spinAround .5s infinite linear;
}

@keyframes spinAround {
  from { transform: rotate(0); }
  to { transform: rotate(359deg); }
}

.timeframe {
  color: #616161;
  font-size: .75rem;
}